.displayContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}

.displayData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    overflow: hidden;
}

.inputDisplay{
    width: 80vw;
    padding: 1rem 3rem;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.innerField{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;   
    gap: 1rem;
}

.logos{
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    background-color: transparent;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}




/* Edit inputs */


.editField{

    margin-top: 1rem;
}

.setField{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBtn,.inputField{
    padding: 0.5rem;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.inputBtn{
  cursor: pointer;   
}

.timeParent{
    display: flex;
    justify-content: end;
    color: yellow;
}
