/* .mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: #343a40;
    border-radius: 3px;
    padding: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 22px;
    font-weight: 900;
}

.appName{
    display: flex;
    flex-direction: row;
    font-size:xx-large;
    padding: 0 25rem;
    font-style: italic;
    font-weight: 900;
}

.appName > span{
    padding: 1rem;
}

.appName::before,.appName::after{
    content: "";
    flex: 1 1;
    border: 0.1rem solid #fff;
    margin: auto;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.logoContainer > span{
    padding: 0 3rem;
}

.logoContainer::before,.logoContainer::after{
  content: "";
  flex: 1 1;
  border: 0.1rem solid #fff;
  padding: 0 3rem;
  margin: auto;
}

.logo{
    font-size: 2rem;
}

.formInner{
    display: flex;
    position: relative;
    margin: 40px auto;
    padding: 0 15rem;
    flex-direction: row-reverse;

}

.inputBox{
    flex: 1;
    padding:1rem 2rem;
    border-radius: 30px;
    outline: none;
}

.btn{
    position: absolute;
    
    padding: 0.9rem 3rem;
    border-radius: 1.4rem;
    outline: none;
    font-size: 20px;
    font-weight:bolder;
    background-color: #4F4F4F;
    color: #fff;
    cursor: pointer;
    font-style: italic;
    border: none;
    
} */




/* New styling */

.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.appName{
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    font-style: italic;
    font-weight: bolder;
}

.appName::before,.appName::after{
    width: 5vw;
    content: "";
    flex: 1 1;
    border: 0.1rem solid #fff;
    margin: auto;
}

.logoContainer{
    display: flex;
    font-size: 30px;
    gap: 2rem;
}

.logoContainer::before,.logoContainer::after{
    width: 30vw;
   content: "";
   flex: 1 1;
   border: 0.1rem solid #fff;
   margin: auto;
}

.formInner{
    display: flex;
    width: 80vw;
    padding: unset;
    position: relative;
}

.inputBox{
    width: 100vw;
    padding: 0.9rem;
    border-radius: 1.4rem;
    font-size: 18px;
    outline: none;
}

.btn{
    position: absolute;
    display: flex;
    right: 0;
    padding: 0.8rem 3rem;
    border: none;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    border-radius: 1.4rem;
    color: #fff;
    background-color: #4f4f4f;
    cursor: pointer;
}


@media screen and (max-width:518px){
    
    .formInner{
        width: 100vw;
        display: block;
    }
    
    .btn{
       width: 100vw;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 2rem;
    }
}
